.dashboard-grid {
	&.opal-row {
		> div {
			margin-bottom: $grid-gutter-width;
		}
	}
}
.opalestate-admin-box{
	margin-bottom:$grid-gutter-width;
	padding: $grid-gutter-width;
	background-color: $white;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	h3 {
		border-bottom:1px $border-color solid;
		padding-bottom:15px;
		padding-top:30px;
		font-size:150%;
	}
}

/** CMD BOX 2 */
.select2-search-member {
	display:flex;
	.member-meta {
		margin-left:12px;
		font-weight:500
	}
}
.cmb2-wrap .field-row-2 .cmb-row  {
	display: inline-block;
	width: 50%;
}

.cmb2-wrap .field-row-2 .cmb-row:nth-child(even) > div {
	@media screen and (min-width:768px){
		padding-left: 12px;
	}
}
.cmb2-wrap  .cmb-td {
	padding: 4px 0;
}

.alert.alert-success{
	background: #0F93FA;
}

.alert.alert-danger{
	background: #f55753;
}
.alert.alert-warning{
	background: #ffca28;
}
/**
 *
 * Dashboard Page
 */

@media( max-width: $screen-xs-max ) {
	.user-dasboard-sidebar {
		display:none;
	}
	body.active {
		.user-dasboard-sidebar{
			display:block;
		}
		margin-left:251px!important;
	}
	.page-template-user-management {
		margin-left:0!important;
	}

	#show-user-sidebar-btn {
		display:block!important;
	}
}

.navbar-left {
	display:flex;
}

.opalestate-user-greeting {
	.popup-head  {
		float:right;
	}
	.popup-head a { 
		color:$white; 
		text-align:right;
        float:right;
        position:relative;
        .opalestate-user-image {
          position: relative;
          @include size(40px, 40px);
          img {
            min-height: 40px;
            object-fit: cover;
            border-radius:50%;
          }
        }
		i { 
			padding:12px; 
			border-radius:50%;
			background:rgba(0, 0, 0, .06 );
		}
	}

	ul {
		padding:0;
		margin :0 ;
		list-style:none;
	}
	
}

 .dashboard-navbar {
 	 background-color: $white;
 	 padding:$grid-gutter-width/2 $grid-gutter-width;
	 border-bottom:1px solid $border-color;
	 margin-bottom: $grid-gutter-width/2;
	ul{
		margin-bottom: 0;
	}
 }

.page-template-user-management {
	.opalestate-box{
		@media screen and (min-width:768px){
			margin-right: $padding-base;
		}
	}
	&.logged-in {
		margin-left:251px;
		background: #f1f1f1;
	}
	#content {
		padding-left:$padding-base*2;
		padding-right:$padding-base*2;
	}

	#show-user-sidebar-btn {
	 	display:none;
		margin-right:$padding-base;
	}
	.opalestate-panel-myaccount {
		padding-top: $padding-base*3;
		padding-bottom: $padding-base*3;
	}
}

.opalmembership-dashboard{
	.btn-link{
		background-color: $secondary;
		color: $white;
		&:hover{
			background-color: $primary;
		}
	}
}
.bg-primary {
	background-color: $white!important;
	//background-color:#0288d1 !important;
}
.bg-info {
	background-color: $white!important;
	//background-color:#0288d1 !important;
}

.bg-warning {
	background-color: $white!important;
	//background-color:#ffca28!important;
}

.page-template-user-management {
	.body-inner {
		background-color: #f1f1f1;
	}

	.opalestate-popup .popup-body {
		padding:0 !important;
		top: 59px;
		.account-dashboard-content {
			a {
				font-size: 14px;
				&:not(:hover){
					color: #7e7e7e;
				}
			}
			&::before {
				right: -15px;
				left: auto;
				position: absolute;
				width: 0px;
				height: 0px;
				content: "";
				z-index: 2;
				transform: translateX(-50%);
				left: 50%;
				top: -14px;
				border-bottom: 25px solid rgb(255, 255, 255);
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
			}
		}
	}

	.opalestate-user-management{
		.user-dasboard-sidebar{
			padding-top: 30px;
		}
	}
	.opalestate-box {
		background-color: $white;
		padding: $grid-gutter-width;
	}

	.opalmembership-box {
		background-color:$white;
		//border:solid 1px $border-color;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		padding:$padding-base;
	}

	.property-submission-form {
		padding:0;
		background: transparent;
		border-radius: 0;
	}
	@media (min-width:991px ) {
		.cmb2-wrap input, .cmb2-wrap textarea {
			min-width: 500px;
		}
	}
}

.card-item {
	background-color:$white;
	//border:solid 1px $border-color;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	padding:$padding-base;
	.heading {
		margin-bottom: $grid-gutter-width;
		border-bottom:1px solid #eee;
		padding-bottom: $grid-gutter-width/2;
		i {
			background:rgba(0, 0, 0, .18);
			padding:15px;
			border-radius:50%;
			min-width: 45px;
			text-align: center;
			margin-right: 10px;
			color:$white;
		}
		span {
			font-size: 16px;
			color: #23282d;
			font-weight: 500;
		}
	}

	h5 {
		font-size:200%;
		text-align:center;
	}
	.opalestate-admin-box {
		box-shadow: none;
	}
}

.opalestate-user-management {
	min-height: 742px;
	.property-submission-form{
		.opalestate-box{
			margin-right: 0;
		}
	}
	.user-dasboard-sidebar {
		background-color:#23282d;
		min-height:900px;
		position:fixed;
		left:0;
		width:250px;
		height:100%;
		z-index:100;
		top:0px;
	 	.user-dasboard-sidebar-inner{
	 		padding-top:20px;
	 	}
	}
	.navbar-brand {
		padding:32px $padding-base;
	}

	.account-links {
		list-style:none;
		padding:0;
		margin : 0; 
		a {
			padding:8px 20px;
			width:100%;
			display:block;
			font-weight:500	;
			color:#eee;
			i {
				margin-right:6px;
				color:#a0a5aa;
			}
			&:hover,
			&:focus {
				background-color:#0073aa;
				color:#fff;
				i {
					color:#00b9eb;
				}
			}
		}
	}

	.site-main {
		padding-top:$padding-base;
		$padding-bottom:$padding-base;
	}
}

//my reviews
.opalestate-my-reviews{
	.commentlist{
		margin: 0;
	}
	.meta{
		margin-bottom: 10px;
	}
	.opalestate-review__ratings{
		margin-bottom: 0;
	}
}
.opalestate-my-reviews-item_property-name{
	margin-bottom: 5px;
}
.opalestate-my-reviews-item_property-view{
	font-size: 12px;
	font-style: italic;
}

//my property
.my-property-list{
	.entry-content{
		width: 100%;
	}
}

.dashboard {
}