.dashboard-grid {
	&.opal-row {
		> div {
			margin-bottom: $grid-gutter-width;
		}
	}
}
.opalestate-admin-box{
	margin-bottom:$grid-gutter-width;
	padding: $grid-gutter-width;
	background-color: $white;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05);
	@include border-radius(5px);
	h3 {
		border-bottom:1px $border-color solid;
		padding-bottom:15px;
		padding-top:30px;
		font-size:150%;
	}
}

/** CMD BOX 2 */
.select2-search-member {
	display:flex;
	.member-meta {
		margin-left:12px;
		font-weight:500
	}
}
.cmb2-wrap .field-row-2 .cmb-row  {
	display: inline-block;
	width: 50%;
}

.cmb2-wrap .field-row-2 .cmb-row:nth-child(even) > div {
	@media screen and (min-width:768px){
		padding-left: 12px;
	}
}
.cmb2-wrap  .cmb-td {
	padding: 4px 0;
}

.alert.alert-success{
	background: #0F93FA;
}

.alert.alert-danger{
	background: #f55753;
}
.alert.alert-warning{
	background: #ffca28;
}
/**
 *
 * Dashboard Page
 */

@media( max-width: $screen-xs-max ) {
	.user-dasboard-sidebar {
		display:none;
	}
	body.active {
		.user-dasboard-sidebar{
			display:block;
		}
		margin-left:251px!important;
	}
	.page-template-user-management {
		margin-left:0!important;
	}

	#show-user-sidebar-btn {
		display:block!important;
	}
}

.navbar-left {
	display:flex;
}

.opalestate-user-greeting {
	.howdy {
		padding-right: 5px;
		padding-top: 5px;
		font-weight: 700;
	}
	.popup-head  {
		float:right;
	}
	.popup-head a { 
		color:$white; 
		text-align:right;
        float:right;
        position:relative;
        .opalestate-user-image {
          position: relative;
          @include size(40px, 40px);
          img {
            min-height: 40px;
            object-fit: cover;
            border-radius:50%;
          }
        }
		i { 
			padding:12px; 
			border-radius:50%;
			background:rgba(0, 0, 0, .06 );
		}
	}

	ul {
		padding:0;
		margin :0 ;
		list-style:none;
		li {
			&:hover {
				.count {
					background-color:$primary;
					color:$white;
				}
			}
		}
	}
	.count {
		color:$primary;
		padding:3px 8px;
		font-size: 11px;
		min-width: 20px;
		text-align: center;
		background-color: $border-color;
		@include border-radius(50%);
		margin-left:5px;
	}
	
}

.dashboard-navbar {
	background-color: #1d2329;
	padding:20px $grid-gutter-width;
	border-left: 1px solid #181c21;
	margin-bottom: $grid-gutter-width/2;
	ul{
		margin-bottom: 0;
	}
}

.page-template-user-management {
	.opalestate-box{
		@media screen and (min-width:768px){
			margin-right: $padding-base;
		}
	}
	&.logged-in {
		margin-left:251px;
		background: #f1f1f1;
	}
	#content {
		padding-left:$padding-base*2;
		padding-right:$padding-base*2;
	}

	#show-user-sidebar-btn {
	 	display:none;
		margin-right:$padding-base;
	}
	.opalestate-panel-myaccount {
		padding-top: $padding-base*3;
		padding-bottom: $padding-base*3;
	}
}

.opalmembership-dashboard{
	.btn-link{
		background-color: $secondary;
		color: $white;
		&:hover{
			background-color: $primary;
		}
	}
}
.bg-primary {
	background-color: $white!important;
	//background-color:#0288d1 !important;
}
.bg-info {
	background-color: $white!important;
	//background-color:#0288d1 !important;
}

.bg-warning {
	background-color: $white!important;
	//background-color:#ffca28!important;
}

.page-template-user-management {
	.body-inner {
		background-color: #f8f8f8;
	}

	.opalestate-popup .popup-body {
		padding:0 !important;
		top: 59px;
		.account-dashboard-content {
			a {
				font-size: 14px;
				&:not(:hover){
					color: #7e7e7e;
				}
			}
			&::before {
				position: absolute;
				width: 0px;
				height: 0px;
				content: "";
				z-index: 2;
				transform: translateX(-50%);
				right:-15px;
				top: -14px;
				border-bottom: 25px solid rgb(255, 255, 255);
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
			}
		}
	}

	.opalestate-user-management{
		.user-dasboard-sidebar{
			padding-top: 30px;
		}
	}
	.opalestate-box {
		background-color: $white;
		padding: $grid-gutter-width;
	}

	.opalmembership-box {
		background-color:$white;
		//border:solid 1px $border-color;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		padding:$padding-base;
	}

	.property-submission-form {
		padding:0;
		background: transparent;
		border-radius: 0;
	}
	@media (min-width:991px ) {
		.cmb2-wrap input, .cmb2-wrap textarea {
			min-width: 500px;
		}
	}
}

.card-item {
	background-color:$white;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05);
	@include border-radius(5px);
	padding:$padding-base;
	.heading {
		margin-bottom: $grid-gutter-width;
		border-bottom:1px solid #eee;
		padding-bottom: $grid-gutter-width/2;
		i {
			background:$primary;
			color: $white;
			padding:10px;
			min-width: 32px;
			text-align: center;
			margin-right: 10px;
			@include border-radius(50%);
		}
		span {
			font-size: 16px;
			color: #23282d;
			font-weight: 500;
		}
		.dash-view-all {
			float: right;
			color: $primary;
		}
	}

	h5 {
		font-size:200%;
		text-align:center;
	}
	.opalestate-admin-box {
		box-shadow: none;
	}

	&.dash-widget {
		padding: 50px 40px;
		position: relative;
		h5 {
			text-align: left;
			color: $white;
			font-size: 48px;
			margin:0;
		}
		.heading {
			border:0;
			margin: 0;
			padding:0;
			color: $white;
			span {
				color: $white;
			}
		}
		.dash-widget-icon {
			position: absolute;
			top:$grid-gutter-width/2;
			right:$grid-gutter-width;
			color: rgba(255,255,255,0.1);
			font-size:75px;
		}
		&.dash-published-listings {
			background-color: $primary;
		}
		&.dash-featured-listings {
			background-color: $primary;
		}
		&.dash-pending-listings {
			background-color: lighten($primary, 10%);
		}
	}
}

.opalestate-user-management {
	min-height: 742px;
	.property-submission-form{
		.opalestate-box{
			margin-right: 0;
		}
	}
	.user-dasboard-sidebar {
		background-color:#1d2329;
		min-height:900px;
		position:fixed;
		width:251px;
		height:100%;
		z-index:100;
		top:0px;
		left:0;
		border-right:1px solid #21272e;
		.navbar-brand {
			text-align: center;
			margin: $grid-gutter-width 0;
		}
	 	.user-dasboard-sidebar-inner{
	 		padding-top:20px;
	 	}
	}
	.navbar-brand {
		padding:32px $padding-base;
	}

	.account-links {
		list-style:none;
		padding:0;
		margin : 0 $padding-base;
		max-height: 530px;
		overflow-y: scroll;
		font-size: 14px;
		@media(max-width: 991px) {
			max-height: 400px;
		}

		&::-webkit-scrollbar {
			width: 8px;
			background-color: #1d2329;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
			background-color: #555;
		}
		a {
			padding:8px 20px;
			width:100%;
			display:block;
			font-weight:500	;
			color:#616a75;
			i {
				margin-right:6px;
				color:#616a75;
			}
			.count {
				color:$white;
				padding:5px 10px;
				font-size: 11px;
				min-width: 20px;
				text-align: center;
				background-color: $primary;
				@include border-radius(50%);
				margin-left:5px;
			}
			&:hover,
			&:focus {
				background-color:$primary;
				@include border-radius(5px);
				color:$white;
				i {
					color:$white;
				}
				.count {
					background-color: $secondary;
				}
			}
		}
		li.active {
			a {
				background-color:$primary;
				@include border-radius(5px);
				color:$white;
				i {
					color:$white;
				}
				.count {
					background-color: $secondary;
				}
			}
		}
	}

	.site-main {
		padding-top: $grid-gutter-width*2;
		padding-bottom: $grid-gutter-width*2;
	}
}

//my reviews
.opalestate-my-reviews{
	.commentlist{
		margin: 0;
	}
	.meta{
		margin-bottom: 10px;
	}
	.opalestate-review__ratings{
		margin-bottom: 0;
	}
}
.opalestate-my-reviews-item_property-name{
	margin-bottom: 5px;
}
.opalestate-my-reviews-item_property-view{
	font-size: 12px;
	font-style: italic;
}

//my property
.my-property-list{
	.entry-content{
		width: 100%;
	}
}

.my-property-list {
	.property-group-status + .property-meta-bottom {
		top:40px;
	}
	.button-actions {
		a {
			margin-left: 5px;
			padding: 5px 14px;
		}
	}
	.my-properties-bottom {
		display: block;
		span {
			background: $primary;
			position: absolute;
			top:0;
		}
	}
}